In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'name': ['yamada', 'sato', 'tanaka']})

In [3]:
df

     name
0  yamada
1    sato
2  tanaka

In [8]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
df.index[0]

0

In [10]:
df.index[1]

1

In [13]:
list(df.index)

[0, 1, 2]