In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
s = np.array([1,1,2,3])

In [5]:
s

array([1, 1, 2, 3])

In [9]:
s.shape

(4,)

In [6]:
s.reshape(-1,1)

array([[1],
       [1],
       [2],
       [3]])

In [8]:
s.reshape(-1,1).shape

(4, 1)

In [10]:
import re

In [13]:
price = re.search(r'\d*万', "うんたら26万400円ホゲホゲバサfァsdファhsdfじゃあjsl")[0]

In [14]:
price

'26万'

In [16]:
test = pd.DataFrame(
    {'salary': [
        "asdhfoahdfa25万asdfa",
        "asdhfoahdfa22万asdfa",
        "asdhfoahdfa21万asdfa",
        "asdhfoahdfa20万asdfa"
        ]
    } 
)

In [17]:
test

                salary
0  asdhfoahdfa25万asdfa
1  asdhfoahdfa22万asdfa
2  asdhfoahdfa21万asdfa
3  asdhfoahdfa20万asdfa

In [19]:
test.salary.str.extract(r'(\d*万)')

     0
0  25万
1  22万
2  21万
3  20万